<!DOCTYPE html>
<html lang="hu">
<head>
    <title>Listázás részlet</title>
    <link rel="stylesheet" href="../../style.css">
    <script src = "../../ajax.js"></script>
</head>
<body>
    <% if (user) { %>
    <%- include('_header') %>
    <% } else { %>
    <%- include('_guestHeader') %>
    <% } %>
    <h1><%= listing.marka %> - <%= listing.model %></h1>
    <p>Ár: <%= listing.ar %></p>
    <p>Város: <%= listing.varos %></p>
    <p>Dátum: <%= listing.datum.toISOString().slice(0, 10) %></p>
    <p>Motor: <%= listing.motor %></p>

    <h3>Képek</h3>
    <ul>
        <% listing.images.forEach(function(image) { %>
            <li class="imageList" id="image-<%= image.id %>">
                <img src="../../uploads/<%= image.fajlnev %>" alt="<%= image.fajlnev %>">
                <% if (userId === listing.felhasznaloID || userRole == 'admin') { %>
                    <button class="deleteButton" onclick="deleteImage('<%= image.id %>', '<%= userRole %>')">Törlés</button>
                <% } %>
            </li>
        <% }) %>
    </ul>

    <h3>Ajánlatok</h3>
    <ul>
        <% offers.forEach(function(offer) { %>
            <li class="offerList" id="offer-<%= offer.id %>">
                <p>Felhasználó: <%= offer.nev %>, Ajánlat: <%= offer.ar %> €</p>
                <p id="offerStatus-<%= offer.id %>" class="status-<%= offer.statusz.replace(/ /g, '') %>">Státusz: <%= offer.statusz %></p>
                <% if (userId === listing.felhasznaloID) { %>
                    <button class="offer-decision" data-offer-id="<%= offer.offerId %>" onclick="handleOfferDecision('<%= offer.id %>', 'elfogadva')">Elfogad</button>
                    <button class="offer-decision" data-offer-id="<%= offer.offerId %>" onclick="handleOfferDecision('<%= offer.id %>', 'elutasitva')">Elutasít</button>
                <% } %>
            </li>
        <% }) %>
    </ul>

    <% if (userId === listing.felhasznaloID  || userRole == 'admin') { %>
        <form action="/listings/<%= listing.autoID %>/images" method="post" enctype="multipart/form-data">
            <input type="file" name="image" required>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="userRole" value="<%= userRole %>">
            <button type="submit">Kép feltöltése</button>
        </form>
    <% } %>
    <% if (userId !== listing.felhasznaloID ) { %>
        <form action="/listings/<%= listing.autoID %>/offers" method="post">
            <input type="number" name="offer" placeholder="Add meg az ajánlatod" required>
            <button type="submit">Ajánlat küldése</button>
        </form>
    <% } %>

    <a href="/">Vissza a főoldalra</a>
    <%- include('_modal') %>
</body>
</html>
