<!DOCTYPE html>
<html lang="hu">
<head>
    <title>Listázás részlet</title>
    <link rel="stylesheet" href="../../style.css">
    <script src = "../../ajax.js"></script>
</head>
<body>
    <%- include('_header') %>
    <h1><%= listing.marka %> - <%= listing.model %></h1>
    <p>Ár: <%= listing.ar %></p>
    <p>Város: <%= listing.varos %></p>
    <p>Dátum: <%= listing.datum.toISOString().slice(0, 10) %></p>
    <p>Motor: <%= listing.motor %></p>

    <h3>Képek</h3>
    <ul>
        <% listing.images.forEach(function(image) { %>
            <li class="imageList" id="image-<%= image.id %>">
                <img src="../../uploads/<%= image.fajlnev %>" alt="<%= image.fajlnev %>">
                <% if (userId === listing.felhasznaloID) { %>
                    <button class="deleteButton" onclick="deleteImage('<%= image.id %>', '<%= image.id %>')">Törlés</button>
                <% } %>
            </li>
        <% }) %>
    </ul>

    <% if (userId === listing.felhasznaloID) { %>
        <form action="/listings/<%= listing.autoID %>/images" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <button type="submit">Kép feltöltése</button>
        </form>
    <% } %>

    <a href="/">Vissza a főoldalra</a>
</body>
</html>
