<!DOCTYPE html>
<html>
<head>
    <title>Listázások</title>
    <link rel="stylesheet" href="./style.css">
    <script src = "./ajax.js"></script>
</head>
<body>
    <h1>Listázások</h1>
    <form action="/listings" method="get">
        <label for="brand">Márka:</label>
        <input type="text" id="brand" name="marka" placeholder="Márka" value="<%= searchQuery.marka || '' %>">

        <label for="model">Model:</label>
        <input type="text" id="model" name="model" placeholder="Model" value="<%= searchQuery.model || '' %>">

        <label for="city">Város:</label>
        <input type="text" id="city" name="varos" placeholder="Város" value="<%= searchQuery.varos || '' %>">

        <label for="fuel">Motor:</label>
        <input type="text" id="fuel" name="motor" placeholder="Üzemanyag típus" value="<%= searchQuery.marka || '' %>">

        <label for="minPrice">Min ár:</label>
        <input type="number" id="minPrice" name="minAr" placeholder="Minimum ár" value="<%= searchQuery.minAr || '' %>">

        <label for="maxPrice">Max ár:</label>
        <input type="number" id="maxPrice" name="maxAr" placeholder="Maximum ár" value="<%= searchQuery.maxAr || '' %>">

        <label for="date">Dátum:</label>
        <input type="date" id="date" name="datum" value="<%= searchQuery.datum || '' %>">

        <button type="submit">Keresés</button>
    </form>

    <ul id="listings">
        <% listings.forEach(function(listing) { %>
            <li class="listing-item" onclick="loadDetails('<%= listing.autoID %>')">
                <div class="listing-preview">
                    <h2><%= listing.marka %> - <%= listing.model %></h2>
                    <p>Price: <%= listing.ar %></p>
                </div>
                <div id="details-<%= listing.autoID %>" class="details" style="display:none;"></div>
            </li>
        <% }) %>
    </ul>

    <a href="/listings/new">Új listázás hozzáadása</a>
</body>
</html>