<!DOCTYPE html>
<html>
<head>
    <title>Listázások</title>
    <link rel="stylesheet" href="../public/style.css">
    <script src = "../public/script.js"></script>
</head>
<body>
    <h1>Listázások</h1>
    <form action="/listings" method="get">
        <label for="brand">Márka:</label>
        <input type="text" id="brand" name="marka" placeholder="Márka" value="<%= searchQuery.marka || '' %>">

        <label for="city">Város:</label>
        <input type="text" id="city" name="varos" placeholder="Város" value="<%= searchQuery.varos || '' %>">

        <label for="minPrice">Min ár:</label>
        <input type="number" id="minPrice" name="minAr" placeholder="Minimum ár" value="<%= searchQuery.minAr || '' %>">

        <label for="maxPrice">Max ár:</label>
        <input type="number" id="maxPrice" name="maxAr" placeholder="Maximum ár" value="<%= searchQuery.maxAr || '' %>">

        <label for="date">Dátum:</label>
        <input type="date" id="date" name="datum" value="<%= searchQuery.datum || '' %>">

        <button type="submit">Search</button>
    </form>

    <ul>
        <% listings.forEach(function(listing) { %>
            <li>
                <h2><%= listing.marka %> - <%= listing.ar %></h2>
                <p>Hely: <%= listing.varos %></p>
                <a href="/listings/<%= listing.autoID %>">Részletek</a>
            </li>
        <% }) %>
    </ul>

    <a href="/listings/new">Új listázás hozzáadása</a>
</body>
</html>